.lamp-container {
    width: auto !important;
    height: auto !important;
}
.css-4jnixx-MuiStack-root>.MuiTextField-root {
    min-width: 100px !important;
}
.auto-mode {
    text-align: -webkit-center !important;
}